<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    th:replace="~{layout/index :: areas(~{::title},~{::main})}">


<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <main>
        <div class="container">
            <div class="row mt-5">
                <div class="">
                    <h5 class="">
                        List User
                    </h5>
                    <a th:href="@{/users/add}" class="btn btn-success">Create</a>
                    <div class="row">
                        <div class="col-5">
                            <div>
                                <form th:action="@{/users/search}">
                                    <input type="text" name="username" id="username" class="float-start"
                                        placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">

                                    <button class="btn btn-success float-end">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <table class="table table-bordered table-hover mt-3">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Username</th>
                                <th>Fullname</th>
                                <th>Role</th>
                                <th>Date of Brithday</th>
                                <th colspan="2">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="user : ${listUser}">
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.username}"></td>
                                <td th:text="${user.fullname}"></td>
                                <th th:text="${user.role}"></th>
                                <td th:text="${user.dateOfBrithday}"></td>
                                <th:block sec:authorize="isAuthenticated()">
                                    <th:block sec:authorize="hasAuthority('ADMIN')">
                                        <td>
                                            <a th:href="@{'/users/edit/' + ${user.id}}" class="btn btn-success">edit</a>
                                        </td>
                                        <td>
                                            <a th:href="@{'/users/delete/' + ${user.id}}"
                                                class="btn btn-danger">Delete</a>
                                        </td>
                                    </th:block>
                                </th:block>
                            </tr>
                        </tbody>
                    </table>
                    <div class="">
                        <button class="btn btn-success float-end">Back</button>
                    </div>

                    <div class="row mt-5">
                        <div class="col-4"></div>
                        <div class="col-7">
                            <div class="text-center">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#">Frist</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Last</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-3"></div>
                    </div>

                </div>
            </div>
        </div>
    </main>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>