<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<div th:fragment="hnav">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Duy Đức</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/gates/list}">Gate Master</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/shelfs/list}">Shelf Master</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/warehouses/list}">Wasehouse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/antens/list}">Anten</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/status/list}">Status</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/readers/list}">Reader writer</a>
                    </li>
                    <li class="nav-item"sec:authorize="hasAuthority('ADMIN')">
                        <a class="nav-link" th:href="@{/users/list}">User Management</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Welcome:[[${#request.remoteUser}]]
                        </a>
                        <ul class="dropdown-menu">
                            <th:block sec:authorize="isAuthenticated()">
                                <li><a class="dropdown-item" th:href="@{/auth/logoff}">Logoff</a></li>
                                <li><a class="dropdown-item" th:href="@{/auth/change}">Change Password</a></li>
                            </th:block>
                            <th:block sec:authorize="!isAuthenticated()">
                                <li><a class="dropdown-item" th:href="@{/auth/login/form}">Login</a></li>
                            </th:block>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</html>

